.App {
  text-align: center;
}

.header {
  background: black;
  height: 100px;
  padding: 20px;
  color: #ccc;
}

input {
  margin: 10px;
}

#add-expense {
  margin-top: 20px;
  margin-bottom: 20px;
}
